*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* Выравнивает page по центру */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {  
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: scroll;
}

.content__details {
  width: 100%;
  height: 100%;
}

/* Step 2 starting */

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  margin-bottom: 30px;
  padding: 2px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

/* Step 3 starting */

.result__video-container {
  position: relative;
}

/* Step 4 starting */

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.title {
  color: #fff;  
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

/* Step 5 starting */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 225px;
  height: 27px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox + .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
  background-color: #fff;
  border: 1px solid transparent;
}

.button {
  font-family: inherit;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-self: flex-end;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 6px 73px;
}

.more-button {
  padding: 6px 144px;
}

/* Step 6 and 7 starting */

.search-form__label:has(:focus-visible) {
  display: flex;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
}

.content__list-item:active {
  background-color: #545050;
} 

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link_current {
  background-color: #545050;
}